body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
section#main {
    flex: 1;
}

main{
    margin-top: 4rem;
    margin-bottom: 5rem;
}

.container{
    height: 30rem;
    width: 60rem;
}

.product-main{
    height: 28rem;
    width: 60rem;
}

.left-section{
    width: 45%;
}

.right-section{
    width: 50%;
    height: 100%;
}

img{
    height: 16rem;
    width: 96%;
    border-radius: 1%;
}

#rating{
    color: #e8d64e;
}

.unlogged-button{
    width: 100%;
}